
*{
    margin: 0;
    padding: 0;
}


#container {
    margin-right: auto;
    margin-left: auto; 
    
}

#header {
    background-color: #FFF; 
    width: 100%;
    height: 150px; 
}

#content {
    width: 100%;
    height: 400px;
    background-color: #FFF;  
}

#copyright {
    width: 100%;
    height: 50px;
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    color: #999;
    font-style: italic;
}

#logo {
    width: 150px;
    height: 50px;
    background-color: #666;
    float: left;
    margin-left: 20px;
    margin-top: 40px;
}

#navbar {
    width: 50%;
    height: 40px;
    background-color: #FFF;
    float: right;
    margin-top: 60px;
    text-align: right; 
}


.tab {
    background-color: #fff;
    height: 20px;
    width: 76px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
     border: 1px solid #FFF;
     font-weight: bold;
}

.tab a {
    text-decoration: none;
     color: #666;
}

.tab:hover {
    background-color: #CCC;
    
}

p {
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 200px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    
}

h1{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Amarante', cursive;
}

.gallery_item{
    width: 270px;
    height:200px;
    background-color: #CCC;
    float: left;
    margin-right: 20px; 
}